@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DBHeadr';
  src: url('/src/Assets/fonts/DB\ Head\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  @apply font-dbheadr;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


